@font-face
  font-family 'Noto Sans'
  src url('../fonts/notosans-bold.woff2') format('woff2'),
       url('../fonts/notosans-bold.woff') format('woff')
  font-weight 700
  font-style normal

@font-face
    font-family 'Noto Sans'
    src url('../fonts/notosans-regular.woff2') format('woff2'),
         url('../fonts/notosans-regular.woff') format('woff')
    font-weight 400
    font-style normal
    
@font-face
  font-family 'fa-icons'
  src url('../fonts/fa-icons.ttf?z2aobn') format('truetype'),
    url('../fonts/fa-icons.woff?z2aobn') format('woff'),
    url('../fonts/fa-icons.svg?z2aobn#fa-icons') format('svg')
  font-weight normal
  font-style normal
  
@font-face
  font-family 'PTS'
  src url('../fonts/pts-regular.woff2') format('woff2'),
       url('../fonts/pts-regular.woff') format('woff')
  font-weight 400
  font-style normal
  
@font-face
  font-family 'PTS'
  src url('../fonts/pts-bold.woff2') format('woff2'),
       url('../fonts/pts-bold.woff') format('woff')
  font-weight 700
  font-style normal