// General styles

html,body
	height 100%
	margin 0
	padding 0
	border 0

body
	font 16px/1.5 --font-base 
	color --color-dgray
	background --color-default

*,
*:after,
*:before
	box-sizing border-box

.container
	width 1000px
	margin 0 auto
	transition all .3s ease
	clearfix()

.wrapper
	position relative
	background --color-bg

.main-content
	min-height calc(100vh - 60px)
	padding-top 80px

.avatar
	border-radius 50%
	background-position 50% 50%
	background-size cover
	overflow hidden

.btn
	border none
	cursor pointer
	outline none !important
	box-shadow none !important

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,hgroup,
ul,ol,dd,p,figure,pre,table,fieldset,hr
		margin-top 0
		margin-bottom 0

.h1
	font 1.75em --font-base
	font-weight 700
	line-height 1.2

.h2
	font 1.3125em --font-base
	font-weight 700
	line-height 1.2

.h3
	font 1.125em --font-base
	font-weight 700
	line-height 1.2

.h4
	font 14px --font-base
	font-weight 700
	line-height 1.2

hr
	border none
	border-bottom 1px solid --color-mgray

.bold
	font-weight 700
	
.link
	color inherit
	transition all .3s ease
	text-decoration none
	&:hover, &:focus
		text-decoration none	