.guides-wrapper
	min-height 100vh

.guides-content
	background --color-default

.guides-heading
	text-align center
	padding 50px 0

.guides-block
	width 100%
	padding 48px 32px
	border-top 1px solid --color-bg

.guides-block__title
	color --color-dgray
	text-align center
	margin-bottom 48px
	
.colors-wrapper
	width 100%
	display flex
	justify-content flex-start
	flex-wrap wrap
	
.color-block
	width 124px 
	margin 0 16px 32px
	
.color
	width 80px
	height 40px
	margin-bottom 5px
	
.color-brand
	background --color-brand
	
.color-brand-hover
	background --color-brand-hover
	
.color-link
	background --color-link
	
.color-link-hover
	background --color-link-hover
	
.color-dgray
	background --color-dgray
	
.color-mgray
	background --color-mgray
	
.color-lgray
	background --color-lgray
	
.color-xlgray
	background --color-xlgray
	
.color-bg
	background --color-bg

.color-bg-lite
	background --color-bg-lite
	
.color-default
	background --color-default
	border 1px solid --color-bg
	
.guides__item-name
	font-size 13px
	font-weight 400
	
.guides__item-details
	display inline-block
	margin-bottom 8px
	font-size 13px
	color --color-mgray
	
.typography-block
	margin-bottom 32px
	
.preview-text
	font-size 14px
	color --color-mgray
	overflow hidden
	
.info-text
	font-size 13px
	color --color-lgray
	
.nav-text
	font-size 15px
	letter-spacing 0.025em
	
.forms-block
	width 600px
	margin 0 auto
	padding 32px
	border 1px solid --color-xlgray