.header
  position absolute
  top 0
  left 0
  width 100%
  padding 10px 0
  background #fff
  transform translateY(0)

.header-visible, .header-hidden
  position fixed
  top -60px
  left 0
  z-index 20
  height 60px
  padding 11px 0
  border-bottom 1px solid $bgcolor
  transform translateY(60px)
  transition transform .3s ease-out
      
.header-hidden
  transform translateY(0)
  
.header__wrapper
  position relative
  display flex
  justify-content space-between
  align-items center
    
.header__logo
  position relative
  width 168px
  height 27px

.header__right-panel
  display flex
  width 832px
  justify-content flex-end
  align-items center
  
.header__chain-wrapper
  width 90px
  display flex
  justify-content flex-end
  background $bgcolor
  border 1px solid $bgcolor
  border-radius 3px

.header__chain--steem
  background url('../img/steem.svg') 50% 50% no-repeat transparent
  
.header__chain--golos
  background url('../img/golos.svg') 50% 50% no-repeat transparent
  
.header__chain
  display inline-block
  width 44px
  height 36px
  opacity .5
  transition all .3s ease
  background-size 24px 24px  
  backface-visibility hidden
  filter grayscale(100%)
  &:hover
    opacity 0.8
    filter grayscale(0%)
  
.header__chain--active
  opacity 1 !important
  background-color #fff
  filter grayscale(0%)

.header__auth
  margin-left 20px
  color $red
  font-size 14px
  &:hover
    color $dred

@media screen and (max-width: 620px)
  .header__wrapper
    width calc(100% - 30px)
    
@media screen and (max-width: 500px)
  .header
    height 60px
    padding 10px 0
  .header__logo
    width 126px !important
    height 20px !important
    top 10px !important
  .header__slogan
    display none
  .header__chain-switch
    right 50px
    height 39px
    top 0
    span, br
      display none
  .header__chain-wrapper
    width 84px