.login__wrapper
  position relative
  width 100%
  min-height 100vh
  padding-top 32px
  padding-bottom 63px

.login__logo
  width 168px
  height 27px
  margin 0 auto 24px

.login-form
  width 592px
  min-height 184px
  margin 0 auto 48px
  padding 24px 24px 32px
  background #fff

.login-form__header
  display flex
  width 100%
  justify-content center

.login-form__header--large
  padding 8px 0 0

.login-form__tab
  width 50%
  padding 7px 8px 9px
  border-bottom 1px solid --color-dgray
  border-top 1px solid #fff
  text-align center
  cursor pointer
  &:first-child
    border-right 1px solid --color-dgray

.login-form__tab--active
  border-top 1px solid --color-dgray
  border-bottom none
  cursor auto

.login-form__title
  text-align center
  line-height 22px

.login-form__title--em
  color --color-brand

.login-form__tab
  &:not(.login-form__tab--active)
    &:hover
      .login-form__title
        opacity .8

.login-form__body
  padding-top 24px

.login-form__item
  position relative
  margin-bottom 24px

.input
  outline none
  &::-webkit-input-placeholder
    color --color-lgray
  &::-moz-placeholder
    color --color-lgray
  &:-moz-placeholder
    color --color-lgray
  &:-ms-input-placeholder
    color --color-lgray
  &:focus
    border-color --color-mgray
    border-width 1px
    &::-webkit-input-placeholder
      color transparent
    &::-moz-placeholder
      color transparent
    &:-moz-placeholder
      color transparent
    &:-ms-input-placeholder
      color transparent
  
.login-form__input
  width 100%
  height 40px
  font-size 16px
  padding 4px 16px 4px
  border 1px solid --color-xlgray
  outline none
  &::-webkit-input-placeholder
    color --color-lgray
  &::-moz-placeholder
    color --color-lgray
  &:-moz-placeholder
    color --color-lgray
  &:-ms-input-placeholder
    color --color-lgray
  &:focus
    border-color --color-mgray
    border-width 1px
    &::-webkit-input-placeholder
      color transparent
    &::-moz-placeholder
      color transparent
    &:-moz-placeholder
      color transparent
    &:-ms-input-placeholder
      color transparent

.login-form__input--error
  border-color --color-brand
  border-width 2px

.login-form__alert
  display none
  position absolute
  bottom -20px
  left 16px
  font-size 12px
  color --color-brand

.login-form__info
  color --color-dgray
  font-size 13px
  margin 0 0 16px
  
.login-form__btn
  margin 0 auto 16px
  background --color-xlgray
  &:hover
    background --color-lgray
  &:last-child
    margin-bottom 0

//.add-blockchain__wrapper
//  display flex
//  justify-content center
//    
//.add-blockchain__btn
//  position relative
//  width 160px
//  height 48px
//  line-height 48px
//  font-size 15px
//  margin 0 8px 24px
//  padding-right 5px
//  background --color-xlgray
//  transition all .3s ease
//  &:before
//    display inline-block
//    position relative
//    top 3px
//    content ''
//    width 17px
//    height 17px
//    margin-right 8px
//    filter grayscale(30%)
//    transition all .3s ease
//  &:hover
//    background --color-bg
//    &:before
//      filter grayscale(0%)
//    
//.add-blockchain__btn--golos
//  &:before
//    background url('../img/golos.svg') 50% 50% no-repeat transparent
//    background-size cover
//  
//.add-blockchain__btn--steem
//  &:before
//    background url('../img/steem.svg') 50% 50% no-repeat transparent
//    background-size cover

.login-form__select-chain
  display flex
  justify-content center
  font-size inherit
  margin-bottom 16px
  
.login-form__radio
  display none
    
.login-form__radio-label
  position relative
  cursor pointer
  font-size 15px
  margin 0 40px
  &:before
    content ''
    display inline-block
    height 20px
    width 20px
    position relative
    top 4px
    border-radius 50%
    border 1px solid --color-mgray
    margin-right 16px
  &:after
    content ''
    display block
    height 8px
    width 8px
    position absolute
    left 6px
    top 10px
    border-radius 50%
    background --color-default
    transition all .3s ease
  &:hover
    &:before
      border-color --color-dgray
      
.login-form__radio-label--settings
  margin 0 16px
  &:before
    margin-right 8px
      
.login-form__radio:checked
  &+.login-form__radio-label
    &:before
      border-color --color-dgray
    &:after
      background --color-dgray

.login-form__bottom-link
  display block
  text-align center
  font-size 15px
  &:hover
    text-decoration underline

//.login-form__result
//	display flex
//
//.login-form__result-key
//	width 70%
//	font-weight 700
//
//.login-form__result-btn
//	display inline-block
//	text-align center
//	width 30%
//	height 40px
//	font-size 15px
//	line-height 40px
//	border 1px solid --color-xlgray
//	border-left none
//	&:hover
//		cursor pointer
//		background --color-xlgray

.login-form__text
  font-size 15px
  padding 0 16px
  margin-bottom 16px
  em
    font-style normal
    font-weight 400
    color --color-brand
    
.login-form__text--small
  font-size 13px

.login-form__text--alert
  border-left 2px solid --color-brand