// Post view & Markdown

.modal-shown
  overflow hidden

.post-view__spinner
  display block
  width 52px
  height 52px
  padding 10px
  background rgba(0,0,0,0.65)
  border-radius 3px
  position fixed
  top 50%
  left 50%
  margin-top -26px
  margin-left -26px

.post-view__overlay
  background rgba(0,0,0,0.65)
  z-index 99
  fixed()
  overflow-x hidden
  overflow-y scroll

.post-view__top-bar
  absolute(0,0,auto,0)
  height 50px
  padding 14px 30px 0

.post-view__back
  display none

.post-view__modal
  background #fff
  width 980px
  margin 20px auto
  box-shadow 0 0 10px rgba(0,0,0,0.4)
  z-index 100

.post-view__post-wrapper
  background --color-default
  position relative
  width 100%
  padding 50px 70px 0

.post-view__comments-wrapper
  background --color-bg
  position relative
  width 100%
  padding 40px 70px 60px

.post-view__close-post
  fixed(20px,auto,auto,calc(50%+500px))
  display block
  width 24px
  height 24px
  opacity 0.8
  transition all .3s ease
  &:before,&:after
    display block
    content ''
    background --color-default
    position absolute
    width 24px
    height 3px
    border-radius 1px
    top 11px
    left 0
  &:before
    transform rotate(45deg)
  &:after
    transform rotate(-45deg)
  &:hover
    cursor pointer
    opacity 1

.post-view__post-info
  position relative
  display flex
  justify-content space-between
  width 100%
  font-size 15px
  margin-bottom 16px

.post-view__post-info--top
  height 48px
  align-items flex-start

.post-view__post-info--bottom
  justify-content flex-end 

.post-view__post-heading
  margin-bottom 2rem

.post-view__post-title
  font 32px --font-base
  font-weight 700
  line-height 1.3

.post-view__post-avatar  
  absolute(0,auto,auto,0)
  width 48px
  height 48px

.post-view__post-author-tag
  line-height 24px
  margin-left 56px
  br
    display none

.hashtag
  color --color-brand

.post-view__post-author-rep
  display inline-block
  color --color-dgray
  background --color-default
  font-size 11px
  text-align center
  line-height 18px
  height 20px
  padding 0px 4px
  border 1px solid --color-lgray
  border-radius 3px

.post-view__post-posted
  line-height 24px
  color --color-lgray
  margin-left 56px

.post-view__action-menu-btn
  display inline-block
  line-height 20px
  color --color-lgray
  &:hover
    cursor pointer
    color --color-mgray

.post-view__action-menu
  display block
  position absolute
  bottom -16px
  right -24px
  font-size 13px
  border-radius 3px
  background --color-default
  box-shadow 1px 1px 10px rgba(0,0,0,0.15)
  &:before,&:after
    display block
    content ''
    position absolute
    right 28px
    top -16px
    border 8px solid transparent
  &:before
    width 16px
    height 16px
    border-bottom-color --color-lgray
  &:after
    width 15px
    height 15px
    border-bottom-color --color-default

.post-view__post-flag
  display block
  padding 8px 16px
  color --color-mgray
  transition all .3s ease
  &:hover
    cursor pointer
    color --color-dgray
    background --color-bg-lite
    .post-view__icon
      fill --color-mgray

.post-view__post-flag--active
  .post-view__icon
    fill --color-brand !important

.post-view__post-body
  margin-bottom 40px

.post-view__post-data
  color --color-mgray
  white-space nowrap
  align-self flex-end
  height 20px

.comment__post-data
  display flex
  justify-content flex-end
  height 18px
  color --color-mgray
  font-size 14px

.post-view__post-data-item
  position relative
  line-height 20px
  margin-left 32px

.post-view__post-currency
  font-family --font-currency
  font-weight 700
  font-size large
  margin-right 8px
  position relative
  top 1px

.post-view__post-value-correction
  color --color-brand

.post-view__post-reply,.post-view__post-like
  position relative
  margin-right 8px

.post-view__post-like--active
  .post-view__icon-like,.post-view__icon-dislike
    fill --color-brand !important

.post-view__post-like
  &:hover
    .post-view__vote-slider-wrapper
      visibility visible
      transition-delay .3s
      bottom 18px
      opacity 1
  &--active
    &:hover
      .post-view__vote-slider-wrapper
        visibility hidden
  &--processing
    .post-view__icon
      visibility hidden
    .spinner-rolling
      display inline

.post-view__vote-slider-wrapper
  visibility hidden
  position absolute
  bottom 28px
  left -4px
  width 28px
  height 90px
  transition-duration .2s
  transition-delay 0s
  opacity 0
  &:hover
    bottom 18px
    transition-delay .3s
    visibility visible
    opacity 1

.post-view__vote-slider-show
  display block !important

.post-view__vote-slider
  position absolute
  top 0
  bottom 10px
  left 0
  right 0
  background --color-default
  box-shadow 1px 1px 10px rgba(0,0,0,0.15)
  &:hover
    cursor pointer
    .post-view__vote-slider-handle
      transform scale(1.2)

.post-view__vote-slider-bar
  position relative
  background --color-lgray
  border-radius 2px
  width 4px
  height 64px
  top 8px
  margin 0 auto

.post-view__vote-slider-fill
  position absolute
  background --color-brand
  border-radius 2px
  width 4px
  right 0
  bottom 0
  height 36px

.post-view__vote-slider-handle
  position absolute
  background --color-dgray
  left -3px
  width 10px
  height 10px
  border 1px solid --color-default
  border-radius 50%
  transform scale(1)
  transition transform .2s ease
  
@keyframes spinner-rolling
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%
    transform translate(-50%, -50%) rotate(360deg)

.spinner-rolling
  display none
  position relative
  overflow visible
  div
    position absolute
    overflow visible
    width 16px
    height 16px
    border 2px solid --color-lgray
    border-top-color transparent
    border-radius 50%
    animation spinner-rolling 1s linear infinite
    top 10px
    left 10px

.post-view__post-value
  position relative
  &:hover
    .post-view__pending-payout
      display block

.post-view__pending-payout
  display none
  font-size 13px
  width 200px
  padding 8px 16px
  top 32px
  left calc(50% - 100px)
  color --color-dgray
  &:before,&:after
    left calc(50% - 8px)
  p
    white-space normal

.post-view__votes
  position relative
  &:hover
    .post-view__voters
      display block

.post-view__voters
  display none
  font-size 13px
  min-width 200px
  padding 8px 16px
  top 32px
  left -80px
  color --color-dgray
  &:before,&:after
    left 80px

.post-view__voter-list
  list-style none
  padding 0

.post-view__voter
  display flex
  justify-content space-between

.post-view__voter-name
  padding-right 16px

.post-view__voter-amount
  color --color-mgray

.post-view__voters-all
  color --color-lgray

.post-view__icon
  width 20px
  height 20px
  fill --color-lgray
  &:hover
    cursor pointer
    fill --color-mgray

.post-view__icon--small
  width 16px
  height 16px

.post-view__icon-flag
  width 16px
  height 16px
  margin-right 8px
  position relative
  top 3px

.post-view__icon-like
  position relative
  top 1px

.post-view__icon-dislike
  position relative
  top 5px
  transform rotate(180deg)

.post-view__icon-comment
  position relative
  top 6px
  fill --color-lgray
  &:hover
    cursor pointer
    fill --color-mgray

.post-view__bottom-block
  width 100%
  min-height 164px
  display flex
  position relative
  padding 32px 0
  border-top 1px solid --color-bg

.post-view__block-title
  margin-bottom 16px

.post-view__author-wrapper
  width 60%
  padding-right 24px

.post-view__tags-wrapper
  width 40% 

.post-view__avatar-wrapper
  absolute(74px,auto,auto,0)
  width 56px
  height 56px
  margin 0 0 32px

.post-view__author-avatar
  absolute()

.post-view__author-rep
  absolute(auto,0,0,auto)
  display block
  height 20px
  padding 1px 4px
  font-size 12px
  text-align center
  z-index 10
  color --color-dgray
  background --color-default
  border 1px solid --color-lgray
  border-radius 3px

.post-view__author-info
  margin-left 72px
  align-self center

.author-info
  font-size 14px
  color --color-lgray
  margin-bottom 8px
  &:last-child
    margin-bottom 0

.post-view__reply-disabled
  font-size 15px
  text-align center
  padding-bottom 32px
  border-bottom 1px solid --color-xlgray

.post-view__reply-block
  display flex
  flex-direction column
  transition all .3s ease
  padding-top 8px
  margin-bottom 16px
  &:first-child
    margin-bottom 0

.post-view__post-reply-input
  display block
  height 80px
  width 100%
  min-width 100%
  resize vertical
  padding 8px 16px
  font 15px --font-base
  border 1px solid --color-xlgray
  margin-bottom 8px
  box-shadow none

.post-view__post-reply-input--special
  height 80px
  &:invalid
    height 48px
    resize none
    padding 10px 16px
    font 18px --font-base
    &+.post-view__post-btn-group
      display none
  &:focus
    height 80px
    resize vertical
    padding 8px 16px
    font-size 15px
    &+.post-view__post-btn-group
      display block

.post-view__post-reply-input:valid
  &+.post-view__post-btn-group
    .post-view__post-btn
      background --color-brand
      &:hover
        background --color-brand-hover

.post-view__post-btn-group
  margin-bottom 16px

.post-view__post-btn
  display inline-block
  width 160px
  color --color-default
  background --color-xlgray
  
.post-view__post-btn--active
  background --color-brand
  &:hover
    background --color-brand-hover

.post-view__post-btn-link
  display inline-block
  font-size 15px
  margin-left 32px
  color --color-dgray
  text-decoration none
  &:hover
    text-decoration underline

.post-view__preview-title
  margin-bottom 8px

.post-view__reply-preview
  display block

.post-view__comments-header
  display flex
  justify-content space-between
  margin 24px 0 16px

.post-view__comments-order
  position relative
  font-size 13px
  color --color-mgray

.post-view__comments-order-selected
  position relative
  padding-right 12px
  color --color-mgray
  &:after
    display block
    position absolute
    content ''
    top 7px
    right 0
    width 4px
    height 4px
    border 4px solid transparent
    border-top-color --color-mgray
  &:hover
    cursor pointer

.post-view__comments-options
  display block
  list-style none
  padding 0
  z-index 20
  position absolute
  top -8px
  right -5px
  border-radius 3px
  background --color-default
  box-shadow 1px 1px 10px rgba(0,0,0,0.2)

.post-view__comments-options-item
  padding 8px 16px
  &:hover
    cursor pointer
    background --color-bg-lite
    color --color-dgray

.comments__spinner
  height 100px
  padding 20px 0 0
  text-align center

.comment__replies
  margin-left 32px
  margin-bottom 8px
  margin-top 8px

.post-view__thread-wrapper
  position relative
  width 100%
  height auto
  margin-bottom 8px
  &:last-child
    margin-bottom 0

.comment
  background --color-default
  border-radius 1px
  padding 12px 16px
  margin-bottom 8px

.comment__wrapper
  position relative

.comment__header
  font-size 15px
  margin-left 62px
  margin-bottom 5px
  color --color-lgray

.comment__body
  margin-left 62px
  margin-bottom 12px

.markdown,.editor-preview,.editor-preview-side
  line-height 1.6
  overflow hidden
  word-wrap break-word
  ul,ol
    padding-left 0
    margin-left 2rem
    margin-bottom 1rem
    line-height 1.6
  h1
    font-size 1.6em
    margin 2rem 0 1rem
  h2
    font-size 1.4em
    margin 2rem 0 1rem
  h3
    font-size 1.2em
    margin 1.5rem 0 0.75rem
  h4
    font-size 1.1em
    margin 1.5rem 0 0.75rem
  h5
    font-size 1em
    margin 1rem 0 0.5rem
  h6
    font-size 0.9em
    margin 0.75rem 0 0.5rem
  p
    font 1em --font-base
    line-height 1.6
    margin-bottom 1rem
  strong, b
    font-weight 700
  hr
    border-color --color-lgray
    clear both
    margin 1rem auto
  a
    color --color-link
    text-decoration none
    &:hover, &:focus
      color --color-link-hover
  img
    width auto
    max-width 100%
    height auto
    max-height 600px
  blockquote
    color --color-mgray
    margin 0 0 1rem
    padding 0 1.5rem
    border-left 4px solid --color-xlgray
  pre>code
    display block
    padding .5rem .75rem
    margin-bottom 1rem
  code
    display inline-block
    font-weight 400
    border-radius 3px
    padding 0 .5rem
    background --color-bg
  table
    width 100%
    margin-bottom 1rem
    border-radius 3px
    border-collapse collapse
    border-spacing 0
    tfoot, thead
      background --color-bg
    tbody, tfoot, thead
      border 1px solid --color-bg
      th
        text-align left
    tbody tr:nth-child(even)
      background-color --color-bg
    th, td
      word-break normal
      vertical-align middle
      padding 0.5rem
    img
      vertical-align middle
  div.pull-left
    float left
    padding-right 1rem
    max-width 50%
  div.pull-right
    float right
    padding-left 1rem
    max-width 50%
  div.text-justify
    text-align justify
  div.text-right
    text-align right
  div.text-center
    text-align center
  div.text-rtl
    direction rtl
  .video-wrapper
    width 100%
    margin-bottom 1rem
    position relative
  iframe
    max-width 100%
  >*:last-child
    margin-bottom 0

.markdown--small
  font-size 15px
  img
    max-width 400px
    max-height 400px

@media screen and (max-width: 1130px)
  .post-view__modal
    width 900px
  .post-view__close-post
    left calc(50% + 460px)
  .post-view__post-wrapper
    padding 50px 50px 0
  .post-view__comments-wrapper
    padding 40px 50px 60px

@media screen and (max-width: 980px)
  .post-view__modal
    width 100%
    margin 0
    box-shadow none
  .post-view__post-wrapper
    padding 70px 50px 0
  .post-view__top-bar
    fixed(0,0,auto,0)
    background #fff
    border-bottom 1px solid --color-bg
    z-index 50
  .post-view__back
    display inline-block
    padding-left 19px
    background url('../img/back.svg') 0 50% no-repeat transparent
    opacity 0.6
    font-size 1em
    transition all .3s ease
    &:hover
      cursor pointer
      opacity 1
  .post-view__close-post
    display none

@media screen and (max-width: 760px)
  .post-view__post-wrapper
    padding 70px 30px 0

@media screen and (max-width: 450px)
  .post-view__post-wrapper
    padding 60px 15px 0
  .post-view__top-bar
    padding 14px 15px 0
  .post-view__post-info--top
    height 36px
    padding 0
    line-height 1
    align-items center
  .post-view__post-avatar  
    width 36px
    height 36px
  .post-view__post-author-tag
    margin-left 44px
    br
      display block
  .post-view__post-info--bottom
    flex-direction column-reverse
  .post-view__bottom-block
    padding 15px 0
    min-height 90px
  .post-view__avatar-wrapper
    width 60px
    height 60px
    margin 15px 0
  .post-view__author-info
    margin-left 75px
  .author-info
    font-size 13px
  .comment__header,.comment__body
    margin-left 50px
  .comment__replies
    margin-bottom 1.5rem
    margin-top 1.5rem
    margin-left 0
  .comments__wrapper
    margin-bottom 1.5rem
