.publish
  background --color-default
  
.publish--edit
  .header__user-switch
    display none
  .tags-list__item:first-child
    .tags-list__remove-item
      display none

.publish__header
  position fixed
  z-index 10
  width 100%
  top 0
  left 0
  background --color-default
  
.publish__logo
  position fixed
  left 16px
  width 40px
  height 40px
  background url('../img/logo-icon.svg') 0 0 no-repeat transparent
  background-size auto 100%

.publish__header-wrapper
  position relative
  display flex
  justify-content space-between
  align-items flex-end
  width 872px
  margin 16px auto 0
  padding 0 16px 16px
  border-bottom 1px solid --color-xlgray
  color --color-mgray

.publish__post-author
  position relative
  padding-left 48px
  font-size 14px
  line-height 20px

.publish__avatar
  width 40px
  height 40px
  position absolute
  top 0
  left 0

.publish__btn
  position relative
  font-size 14px
  margin-left 32px
  &:hover
    cursor pointer
    .icon--arrow-down
      &:before,&:after
        background --color-mgray

.publish__btn--publish
  color --color-brand
  &:hover
    color --color-brand-hover

.icon--arrow-down
  position relative
  display inline-block
  height 12px
  width 16px
  top 2px
  &:before,&:after
    display block
    width 1px
    height 8px
    border-radius 1px
    content ''
    position absolute
    top 0
    left 50%
    background --color-lgray
    transform-origin 50% 100%
    transition all .3s ease
  &:before
    transform rotate(45deg)
  &:after
    transform rotate(-45deg)

.publish__drafts
  top 32px
  right calc(50% - 128px)
  width 256px
  padding 0

.publish__drafts-list
  max-height 280px
  overflow-y scroll

.publish__drafts-item
  display flex
  justify-content space-between
  align-items center
  padding 8px 16px
  &:hover
    background --color-bg-lite

.publish__drafts-name
  max-width 192px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  color --color-dgray
  font-size 13px

.publish__drafts-time
  font-size 12px
  color --color-lgray

.publish__icon
  width 16px
  height 16px
  transition all 0.3s ease
  fill --color-lgray
  &:hover
    fill --color-mgray

.publish__drafts-new
  padding 8px 16px
  border-bottom 1px solid --color-bg
  font-size 13px
  text-align center
  color --color-lgray
  &:hover
    color --color-mgray
    
.publish__no-drafts
  font-size 14px
  color --color-dgray
  padding 12px 16px

.publish__setup
  top 32px
  right calc(50% - 148px)
  width 296px
  padding 16px
  color --color-dgray
  font-size 14px
  &:hover
    cursor auto

.publish__setup-header
  display block
  width 100%
  text-align left
  padding 0 0 16px
  border-bottom 1px solid --color-bg

.publish__setup-tags
  padding 16px 0 8px
  border-bottom 1px solid --color-bg

.publish__tags-input
  width 100%
  border none
  font-size 13px
  line-height 24px
  margin-top 4px
  margin-bottom 8px

.publish__setup-payout
  padding 16px 0 8px
  display flex
  flex-flow column
  border-bottom 1px solid --color-bg

.publish__setup-payout-title
  margin-bottom 12px

.publish__radio
  display none

.publish__radio-label
  color --color-mgray
  position relative
  cursor pointer
  font-size 14px
  padding-left 32px
  margin-bottom 8px
  transition all .3s ease
  &:before
    content ''
    display block
    height 16px
    width 16px
    position absolute
    top 3px
    left 0
    border-radius 50%
    border 1px solid --color-mgray
  &:after
    content ''
    display block
    height 8px
    width 8px
    position absolute
    left 4px
    top 7px
    border-radius 50%
    background --color-default
    transition all .3s ease
  &:hover
    &:before
      border-color --color-dgray

.publish__radio:checked
  &+.publish__radio-label
    color --color-dgray
    &:before
      border-color --color-dgray
    &:after
      background --color-brand

.publish__final
  padding 16px 0 0
      
.publish__checkbox
  display none
  &:checked
    &+.publish__checkbox-label
      color --color-dgray
      &:before
        background --color-brand
      &:after
        border-color --color-mgray
        left 16px
  
.publish__checkbox-label
  display block
  cursor pointer
  width max-content
  position relative
  padding-left 48px
  margin-bottom 16px
  line-height 16px
  color --color-lgray
  transition all .3s ease
  &:before
    display block
    content ''
    position absolute
    left 0
    top 4px
    width 32px
    height 8px
    background --color-xlgray
    border-radius 4px
    transition all .2s ease .1s
  &:after
    display block
    content ''
    width 16px
    height 16px
    border 1px solid --color-xlgray
    border-radius 50%
    transition all .3s ease
    cursor pointer
    position absolute
    top 0
    left 0
    background --color-default

.publish__post-btn-group
  display flex
  align-items baseline
    
.publish__btn-post
  width 164px
  height 40px
  line-height 36px
  font-weight 400
  text-transform none
  color --color-mgray
  border 1px solid --color-lgray
  background transparent
  &:hover
    cursor auto
  &--active
    border-color --color-brand
    color --color-brand
    &:hover
      border-color --color-brand-hover
      color --color-brand-hover
      cursor pointer

.publish__post-editor
  width 872px
  padding-top 24px
  margin 0 auto

.publish__input-title
  width 100%
  height 48px
  resize none
  border none
  padding 0 16px
  margin-top -8px
  margin-bottom 4px
  font-size 32px
  font-weight 700
  color --color-dgray
  outline none

#postBody
  width 100%

.publish__modal
  padding 0 !important
  
.publish__modal-header
  text-transform capitalize
  padding 12px 16px
  background --color-bg
  
.publish__upload-wrapper
  position relative
  display flex
  width 100%
  padding 16px
  
.publish__link-input
  height 40px
  flex-basis calc(100% - 128px)
  flex-grow 1
  border 1px solid --color-xlgray
  padding 4px 12px
  font-size 15px
  
.publish__file-input
  width 1px
  height 1px
  opacity 0
  overflow hidden
  position absolute
  z-index -1
  
.publish__file-input-label
  height 40px
  font-size 15px
  line-height 32px
  width 128px
  padding 4px 8px
  text-align center
  background --color-xlgray
  &:hover
    cursor pointer
    background --color-lgray
    
.publish__upload-alert
  position absolute
  top calc(100% - 12px)
  font-size 13px
  color --color-brand

.publish__modal-bottom
  display flex
  justify-content flex-end
  padding 0 16px 16px
  text-align right
    
.publish__image-insert-btn
  border 1px solid --color-lgray
  color --color-mgray
  background transparent
  height 40px
  width 128px
  padding 0 16px
  font-size 15px
  text-align center
  text-transform capitalize
  &:hover
    cursor auto
  
.publish__image-insert-btn--active
  border 1px solid --color-brand
  color --color-brand
  &:hover
    cursor pointer
    border 1px solid --color-brand-hover
    color --color-brand-hover

    
    
.publish__toolbar-dropdown
  display flex
  flex-direction column
  font-family --font-base
  position absolute
  top 0
  left 32px
  z-index 10
  background --color-default
  padding 16px
  border 1px solid --color-xlgray
  border-radius 3px

  
// SimpleMDE Editor styles overwrite

.CodeMirror-code
  *
    font-size inherit !important
    line-height 1.6 !important
    margin 0 !important
    color --color-dgray !important
    background none !important

.editor-toolbar
  position fixed
  top 89px
  left calc(50% - 500px)
  display flex
  flex-flow column
  margin 0
  padding 0 9px
  background --color-bg
  opacity 1 !important
  border-radius 3px
  border none
  &:before
    margin-bottom 4px
  &:after
    margin-top 4px
  &.fullscreen
    background --color-bg
    top 16px
    left 16px
    width auto
    height auto
    z-index 700
  .fa
    position relative
    background none !important
    border none
    color --color-dgray !important
    transition all .3s ease
    outline none
    &:hover
      color --color-mgray !important
  i.separator
    display inline-block
    width 100%
    height 0
    border none
    border-top 1px solid --color-xlgray
    border-bottom 1px solid --color-default
    color transparent
    text-indent -10px
    margin 6px 0
  &.disabled-for-preview
    a:not(.no-disable)
      color --color-xlgray !important
    

.CodeMirror
  height auto
  min-height 200px
  padding 0 16px
  border none
  .CodeMirror-scroll
    padding 0
  .CodeMirror-placeholder
    color --color-mgray
  pre
    padding 0
  .CodeMirror-code
    .cm-url
      text-decoration underline
    .cm-link
      text-decoration none
    .cm-quote
      font-style italic
    .cm-comment
      background --color-bg !important
    .cm-header
      line-height 1.6
      display inline-block
    .cm-header-1
      font-size 1.6em
      margin 2rem 0 1rem
    .cm-header-2
      font-size 1.4em
      margin 2rem 0 1rem
    .cm-header-3
      font-size 1.2em
      margin 1.5rem 0 0.75rem
    .cm-header-4
      font-size 1.1em
      margin 1.5rem 0 0.75rem
    .cm-header-5
      font-size 1em
      margin 1rem 0 0.5rem
    .cm-header-6
      font-size 0.9em
      margin 0.75rem 0 0.5rem
      
.CodeMirror-lines
  padding 0

.editor-preview
  padding 0 16px
  background --color-default
  overflow-y auto

.CodeMirror-fullscreen,.editor-preview-side
  top 0
  z-index 500

.CodeMirror-fullscreen
  height auto
  
.CodeMirror.CodeMirror-sided 
  width calc(50% - 32px) !important
  margin-left 64px
  
.editor-preview-side
  width calc(50% - 32px)
  border none
  border-left 1px solid --color-bg
  overflow-y auto