.settings__wrapper
  display flex
  
.settings__accounts
  width 360px
  padding-right 32px
  
.settings__tags
  width calc(100% - 360px)
  
.settings__accounts-body
  padding 24px
  background --color-default
  
.settings__accounts-list
  list-style none
  padding-left 0
  
.settings__account
  font-size 14px
  
.account__chain
  display inline-block
  width 24px
  height 24px
  margin-right 16px
  background url('../img/golos.svg') 50% 50% no-repeat transparent
  background-size cover
  
.golos-icon
  display inline-block
  width 20px
  height 20px