.tag-block__header
  display flex
  justify-content space-between
  padding-top 10px
  border-bottom 1px solid --color-xlgray
  color --color-dgray
  
.tag-block__title
  position relative
  top 1px
  display inline-block
  font-size 1.75em
  line-height 1.2
  padding-bottom 4px
  border-bottom 2px solid --color-brand
  
.tag-block__header-btn
  display block
  font-size 13px
  color --color-mgray
  border 1px solid --color-xlgray
  border-radius 3px
  height 32px
  padding 6px 16px
  transition all .3s ease
  &:hover
    cursor pointer
    color --color-dgray
    border-color --color-lgray

.tag-block__spinner
  height 72vh
  padding-top calc(36vh - 25px)
  text-align center
  
.tag-block__body
  padding 20px 0 30px
  min-height 75px
  &:before, &:after
    content ''
    display table
  &:after
    clear both

.tag-block__info
  position absolute
  
.tag-block__trending
  display flex
  display -webkit-flex
  flex-flow row wrap
  width 640px

.tag-block__top-post
  background #fff
  position relative
  padding 16px 16px 64px
  width 312px
  float left
  
.tag-block__top-post:first-child
  width 100%
  margin-bottom 16px
  float none

.tag-block__top-post:nth-child(2n)
  margin-right 16px
  
.tag-block__recent-post
  margin-bottom 16px
  border-bottom 1px solid --color-bg
  
.tag-block__recent-post:last-child
  border none
  margin-bottom 0
 
.tag-block__post-image
  background-size cover !important
  display block
  position relative
  width 100%
  height 140px
  
.tag-block__top-post:first-child
  .tag-block__post-image
    height 160px
  
.tag-block__top-post-info
  margin-top 12px
  
.tag-block__top-post:first-child
  .tag-block__top-post-title
    font-size 1.3125em
    max-height 24px
    -webkit-line-clamp 1

.tag-block__top-post-title
  line-height 24px
  max-height 48px
  margin-bottom 8px
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical

.tag-block__recent-post-heading
  line-height 19px
  max-height 38px
  overflow hidden
  text-overflow ellipsis
  margin-bottom 4px
  display -webkit-box
  -webkit-line-clamp 2
  -webkit-box-orient vertical
  
.tag-block__top-post-text
  font-size 14px
  line-height 20px
  max-height 60px
  color --color-mgray
  margin-bottom 20px
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-line-clamp 3
  -webkit-box-orient vertical
  
.tag-block__top-post:first-child
  .tag-block__top-post-text
    max-height 40px
    -webkit-line-clamp 2
  
.tag-block__post-other
  color --color-lgray
  absolute (auto)
  clearfix()

.tag-block__top-post-other
  font-size 13px
  padding 12px 16px
  &:before
    display block
    content ''
    absolute(0,16px,auto,16px)
    height 1px
    background --color-bg

.tag-block__recent-post-other
  font-size 13px
  position static
  overflow hidden
  text-overflow ellipsis
  padding-bottom 15px
  
.tag-block__post-avatar
  display block
  float left
  margin-right 10px
  width 40px
  height 40px

.tag-block__post-author
  color --color-brand
  &:hover
    color --color-brand-hover
    text-decoration none
  
.tag-block__post-data
  float right
  font-weight 700
  padding 7px 0
  
.tag-block__post-value
  font-family --font-currency
  margin-right 0
  
.tag-block__post-replies
  margin-left 12px
  
.tag-block__icon-comment
  width 18px
  height 18px
  transition all 0.3s ease
  fill #a8adad
  position relative
  top 6px
  
.tag-block__aside
  float right
  width 360px
  padding-left 20px
  @media screen and (max-width: 1040px)
    width 320px
  
.tag-block__recent
  background #fff

.tag-block__recent-header
  background --color-xlgray
  text-align center
  padding 11px 0 12px
  
.tag-block__recent-heading
  text-transform uppercase
  letter-spacing 0.025em

.tag-block__recent-body
  padding 16px 20px 8px
  

@media screen and (max-width: 1020px)
  .tag-block__body
    padding 20px 0 30px
  .tag-block__trending
    width calc(100% - 300px)
  .tag-block__top-post
    width calc(50% - 10px)
  .tag-block__post-data
    padding 0
  .tag-block__post-value
    display block
    float right
  .tag-block__post-replies
    display block
    float right
    clear right
    margin-left 0
  .tag-block__aside
    width 300px
    padding-left 20px
    
@media screen and (max-width: 840px)
  .tag-block__trending
    width 100%
    max-width 640px
  .tag-block__aside
    display none
    
@media screen and (max-width: 620px)
  .tag-block__title
    margin-left 10px
  .tag-block__body
    padding 10px 10px 15px
  .tag-block__top-post:first-child
    margin-bottom 20px
  .tag-block__top-post-info
    padding 15px
  .tag-block__top-post-text
    font-size 14px
    margin-bottom 0
  .tag-block__post-other
    font-size 13px
    padding 0 15px 10px
  .tag-block__top-post
    width 100%
    margin-bottom 0
    &:nth-child(2n)
      margin-right 0
      margin-bottom 20px
  .tag-block__post-image
    height auto
    background #fff !important
  .tag-block__post-avatar
    display block
    float left
    margin-right 8px
    width 39px
    height 39px
    background-color --color-bg
    
@media screen and (max-width: 500px)
  .tag-block__post-replies-icon
    width 26px
    height 17px
