

// Mixins

clearfix()
  &:before, &:after
    content ''
    display table
  &:after
    clear both

fixed(t = 0, r = 0, b = 0, l = 0)
  position fixed
  top t
  right r
  bottom b
  left l

absolute(t = 0, r = 0, b = 0, l = 0)
  position absolute
  top t
  right r
  bottom b
  left l


//Imports 

@import 'styl/fonts'
@import 'styl/variables'
@import 'styl/general'
@import 'styl/header'
@import 'styl/footer'
@import 'styl/sidebar'
@import 'styl/login'
@import 'styl/registration'
@import 'styl/tags-setup'
@import 'styl/settings'
@import 'styl/tag-block'
@import 'styl/post-view'
@import 'styl/guides'


// Modifiers

.image--mobile
  display none
  @media screen and (max-width: 620px)
    display block
    margin 0 auto
    height auto
    max-width 100%
    max-height 80vw

.nsfw-image
  display flex
  color --color-brand
  font-size 13px
  padding 70px 0
  align-content center
  justify-content center
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background #fff

.nsfw-warning
  margin-right 5px
  position relative
  top -2px
  font 12px --font-base
  font-weight normal
  color --color-brand
  padding 0 5px
  border 1px solid --color-brand
  border-radius 3px

.tag-block__top-post:first-child
  .nsfw-warning
    font-size 13px
    top -4px

.nsfw-warning--recent
  top 0px

.payout-declined
  text-decoration line-through

.error-block
  position relative
  text-align center
  margin 32px auto
  width 600px
  height 600px

.error-block--404
  background url('../img/404.svg') 50% 50% no-repeat transparent

.error-block__back
  display inline-block
  position absolute
  font-size 15px
  bottom -40px
  left calc(50% - 68px)
  &:hover
    text-decoration underline
    


